/* App General Styles */
@reference "tailwindcss";
div {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-color: #1f2937;
  color: #f3f4f6;
}

.light-mode {
  background-color: #ffffff;
  color: #1f2937;
}
